<div class="row">
    <div class="col s6 offset-s3">
        <div class="card blue-grey darken-1">
            <div class="row">
                <div class="col s4 offset-s4">
                    <div class="">
                        <img class="responsive-img center-align" src="assets/images/icon-design.png">
                    </div>
                </div>
                <div class="col s12 m4 l8 offset-m4 offset-l2">
                    <div class="card-content white-text">
                        <span class="card-title center-align">Welcome To 4152 CMS</span>
                        <p>This CMS need some Preconfigs Before get Ability to Launch!</p>
                        <p>For get more Information About us and our Products Visit our Website and Social Hub!</p>
                    </div>
                    <div class="card-action">
                        <a href="http://4152production.ir" target="_blank"><i class="Small material-icons">public</i> Website</a>
                        <a href="https://www.instagram.com/4152production/" target="_blank"><i class="Small material-icons">photo_camera</i> Insatgram</a>
                        <button class="btn waves-effect waves-light right" onclick="showTOS()">Install
                            <i class="material-icons right">build</i>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>